<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration"> <hibernate-configuration> 
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property> 
        <property name="hibernate.connection.url">jdbc:oracle:thin:@172.17.20.75:1521:rabida</property> 
        <property name="hibernate.connection.username">ISDD_003</property> 
        <property name="hibernate.connection.password">ISDD_003</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property> 
        <property name="hibernate.show_sql">true</property> 
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.connection.isolation">8</property>
        <mapping class="model.Trainer"/> 
        <mapping class="model.Activity"/> 
        <mapping class="model.Member1"/>
    </session-factory>
</hibernate-configuration>